/** Likes Style **/

.cp-site-post-actions .likes-link a,
.cp-site-comment-actions .likes-link a {
	display: inline-block;
	color: inherit;
	border: none;
	text-decoration: none;
	box-shadow: none;
}

.cp-site-post-actions .likes-link a .cp-icon,
.cp-site-comment-actions .likes-link a .cp-icon,
.clusterpress-liked-posts-widget ul li span.cp-icon,
.clusterpress-liked-comments-widget ul li span.cp-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: transparent;
	background-repeat: no-repeat;
	-webkit-background-size: 20px 20px;
	background-size: 20px;
	background-position: left;
	-webkit-transition: background .1s ease-in;
	transition: background .1s ease-in;
	background-image: url( "data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M10%2017.12c3.33-1.4%205.74-3.79%207.040-6.21%201.28-2.41%201.46-4.81%200.32-6.25-1.030-1.29-2.37-1.78-3.73-1.74s-2.68%200.63-3.63%201.46c-0.95-0.83-2.27-1.42-3.63-1.46s-2.7%200.45-3.73%201.74c-1.14%201.44-0.96%203.84%200.34%206.25%201.28%202.42%203.69%204.81%207.020%206.21z%22%20fill%3D%22%23aa0000%22%2F%3E%3C%2Fsvg%3E");
	opacity: 0.5;
	vertical-align: middle;
}

.cp-site-post-actions .likes-link a:hover .cp-icon,
.cp-site-post-actions .likes-link a.liked .cp-icon,
.cp-site-comment-actions .likes-link a:hover .cp-icon,
.cp-site-comment-actions .likes-link a.liked .cp-icon,
.clusterpress-liked-posts-widget ul li span.cp-icon.liked,
.clusterpress-liked-comments-widget ul li span.cp-icon.liked,
.likes-link a.not-logged-in:hover .cp-icon,
.likes-link a.not-logged-in .cp-icon {
	opacity: 1;
}

.likes-link a.not-logged-in {
	cursor: default;
}

.cp-site-post-actions .likes-link a.liked:hover .cp-icon,
.cp-site-comment-actions .likes-link a.liked:hover .cp-icon {
	opacity: 0.5;
}

.cp-site-post-actions .likes-link a .cp-count,
.cp-site-comment-actions .likes-link a .cp-count {
	line-height: 20px;
	display: inline-block;
	vertical-align: baseline;
	margin-left: 5px;
}

.reply .cp-site-comment-actions {
	display: inline;
	padding-left: 1em;
}

.type-post .cp-site-post-actions {
	margin-bottom: 1em;
}

.clusterpress-likes-shortcode,
.clusterpress-likes-shortcode {
	background: transparent;
	clear: both;
	margin: 10px 0 10px;
	overflow: hidden;
}

.clusterpress-likes-shortcode ul {
	margin: 0;
	padding: 0;
}

.clusterpress-likes-shortcode ul li {
	padding: 1.8em 0;
	list-style: none;
	border-bottom: solid 1px #ddd;
	margin: 0 5px 0 0 !important;
	box-shadow: none;
}

.clusterpress-likes-shortcode ul li .cp-site-post-actions a,
.clusterpress-likes-shortcode ul li .cp-site-comment-actions a {
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
	color: inherit;
	border: none;
	box-shadow: none;
}

.clusterpress-likes-shortcode ul li .cp-site-post-actions span.dashicons,
.clusterpress-likes-shortcode ul li .cp-site-comment-actions span.dashicons {
	vertical-align: middle;
}

.clusterpress-likes-shortcode ul li .cp-site-post-actions .comments-link:before,
.clusterpress-likes-shortcode ul li .cp-site-post-actions .edit-link:before,
.clusterpress-likes-shortcode ul li .cp-site-comment-actions .edit-link:before {
	content: '';
}

.clusterpress-liked-posts-widget ul,
.clusterpress-liked-comments-widget ul {
	margin-left: 0;
}

.clusterpress-liked-posts-widget ul li,
.clusterpress-liked-comments-widget ul li {
	list-style: none;
}

.clusterpress-liked-posts-widget ul li span.cp-icon.liked,
.clusterpress-liked-comments-widget ul li span.cp-icon.liked {
	vertical-align: middle;
}

.clusterpress-liked-posts-widget .cp-feedback div,
.clusterpress-liked-comments-widget .cp-feedback div {
	display: inline;
}

.clusterpress-liked-posts-widget .cp-feedback .dashicons,
.clusterpress-liked-comments-widget .cp-feedback .dashicons {
	vertical-align: middle;
}
